@model TST_Music_Instruments_Store.Models.Product

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container" style="margin-top: 20%;">
        <div class="row">
            <div class="col text-center">
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-dark" })
                <br />
                <br />
                <br />
                <h3>Are you sure you want to delete @Model.NameOfProduct?</h3>
                <br />
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </div>

}