<div class="container" style="margin-top: 10%;">
    <div class="row">
        <div class="col">
            <h3>About TST Music Instruments Store</h3>
            <hr />
            <p>Our contacts are extensive. Our instruments are acquired from a variety of local and international sources, including the major auction houses, collectors, private sale, and consignment.</p>
            <br />
            <p>Our services are comprehensive. We perform instrument restorations and repairs, as well as bow rehairing and repairing. We also provide appraisals for instruments purchased from Johnson String Instrument. In addition, we maintain the most complete and reliable rental program in the country. We stock an extensive selection of books and sheet music, Suzuki materials, cases and accessories, some exclusive to JSI, that can be purchased directly from our Newton Massachusetts store, by mail, or securely from this website. If you need anything for your violin, viola, cello, or bass, we have it!</p>
            <br />
            <p>Our instruments are exceptional. We have a dedicated staff of professional players and violin makers that selects each and every instrument and bow we offer. This means that everything from the construction of the instrument to the resonance of the E string is evaluated with careful, experienced eyes and ears.</p>
            <br />
            <p>Our Teacher Services have provided teachers with exceptional customer service since 1976. By offering the best rental program in the country, a vast selection of new and antique instruments and bows, sheet music, method books, teaching aids, and every imaginable stringed instrument accessory, we help teachers maintain their teaching studios.</p>
        </div>
    </div>
</div>