<style type="text/css">
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<div class="container" style="margin-top: 10%;">
    <div class="row">
        <div class="col text-center">
            <h3>
                <b>ADDRESS</b>
            </h3>
            <h6>
                <b>ul.Rudzer Boshkovikj 16, P.O. 393, 1000 Skopje, Republic of North Macedonia</b>
            </h6>
            <div id="map"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCY2twzRhEBEHqRJAqgFRJ7eah1X70w2s&callback=initMap&libraries=&v=weekly"
            defer></script>

    <script>
        function initMap() {
            const uluru = { lat: 42.004253712636135, lng: 21.40953716927809 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 17,
                center: uluru,
            });
            const marker = new google.maps.Marker({
                position: uluru,
                map: map,
            });
        }
    </script>
}