@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<style>
    body {
        background: #fff;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
    }

    .swiper-container {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 300px;
    }
</style>

<div class="swiper-container" style="margin-top: 100px;">
    <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png)"></div>
        <div class="swiper-slide" style="background-image: url(https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png)"></div>
        <div class="swiper-slide" style="background-image: url(https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png)"></div>
        <div class="swiper-slide" style="background-image: url(https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png)"></div>
        <div class="swiper-slide" style="background-image: url(https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png)"></div>
        <div class="swiper-slide" style="background-image: url(https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png)"></div>
        <div class="swiper-slide" style="background-image: url(https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png)"></div>
        <div class="swiper-slide" style="background-image: url(https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png)"></div>
        <div class="swiper-slide" style="background-image: url(https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png)"></div>
        <div class="swiper-slide" style="background-image: url(https://www.talkwalker.com/images/2020/blog-headers/image-analysis.png)"></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next" style="color: white;"></div>
    <div class="swiper-button-prev" style="color: white;"></div>
</div>
@*<p class="text-center">Swipe around!</p>*@

@section Scripts {
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            loop: true,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            autoplay: {
                delay: 2500,
                disableOnInteraction: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
}