
@{
    ViewBag.Title = "Purchase";
}

<div class="container" style="margin-top: 20%; margin-bottom: 9%">
    <div class="row">
        <div class="col text-center">
            <h2>Thank you for your order: <b>@ViewBag.FirstName @ViewBag.LastName</b></h2>
            <h3>Your products will be delivered to this address: <b>@ViewBag.Address</b></h3>
            <a href="/" class="btn btn-md btn-dark">Go back!</a>
        </div>
    </div>
</div>

